modules = ["nodejs-20", "web", "python-3.12"]
hidden = [".config", "package-lock.json"]
run = "node index.js"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
