<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegressionExpert - About</title>
    <link rel="stylesheet" href="app-pages.css" />
  </head>
  <body>
      <a href="/home" class="small-logo">
        <img src="RegressionExpert-small-logo.png" alt="RegressionExpert"
      /></a>
      <h1 class='main-title'>About</h1>
      <p>RegressionExpert is a software to generate and store regressions and data in a visual and convienient way. It was inspired by other regression softwares online, which were either difficult or inconvinient to use. <br>
      RegressionExpert is created by Luca Tu and Philip Xu, under the supervision of their instructor, Stacie Torres. <br>
      To contact the developers for bugs and/or issues, visit the <a href='https://github.com/RedishFish/RegressionExpert'>GitHub Page</a>.
      </p>
    <button onclick="window.location.href='home';">Home Page</button>
  </body>
</html>
