<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegressionExpert - Graph Editor</title>
    <link rel="stylesheet" href="app-pages.css" />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.3/lib/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.25.1/full/pyodide.js"></script>
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/home" class="small-logo">
        <img src="RegressionExpert-small-logo.png" alt="RegressionExpert"
      /></a>
      <form action='/graph-editor' method='post'>
      <input
        class="graph-title-input"
        type="text"
        placeholder="Untitled Graph" name='name'
      />
      <div class="save-container">
        <button class="save-btn" type="submit">Save</button>
        <span class="save-status">✓</span>
      </div>
      <div hidden>
        <input id='user' name='user'></input>
        <input id='points' name='points'></input>
        <input id='lines' name='lines'></input>
      </div>
      </form>
      <div class="__do-btns">
        <div class="__do-btn undo-container">
          <button><img src="undo-icon.png" alt="Undo icon" /></button>
          <br />
          <span>Undo (Ctrl-Z)</span>
        </div>
        <div class="__do-btn redo-container">
          <button><img src="redo-icon.png" alt="Redo icon" /></button>
          <br />
          <span>Redo (Ctrl-Shift-Z)</span>
        </div>
      </div>
    </nav>
    <div class="main-workspace">
      <div class="main-workspace-btns">
        <div class="main-workspace-btn">
          <button><img src="plot.png" alt="plot" /></button>
          <span>Plot (P)</span>
        </div>
        <div class="main-workspace-btn">
          <button><img src="delete.png" alt="delete" /></button>
          <span>Delete (D)</span>
        </div>
        <div class="main-workspace-btn">
          <button><img src="select.png" alt="select" /></button>
          <span>Select (S)</span>
        </div>
        <div class="main-workspace-btn">
          <button><img src="x-scale.png" alt="x-scale" /></button>
          <span>x-scale (X)</span>
        </div>
        <div class="main-workspace-btn">
          <button><img src="y-scale.png" alt="y-scale" /></button>
          <span>y-scale (Y)</span>
        </div>
        <div class="main-workspace-btn">
          <button><img src="new-regression.png" alt="new regression" /></button>
          <span>New Regression (R)</span>
        </div>
      </div>
      <div class="graph-display">
        <script src="graph.js"></script>
      </div>
    </div>
    <div class="side-bar">
      <div class="points-side-bar"></div>
      <div class="regressions-side-bar"></div>
      <div></div>
    </div>
  </body>
</html>
