<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegressionExpert - Home</title>
    <link rel="stylesheet" href="home.css" />
    <link rel="icon" type="image/ico" href="/regression-expert.ico" />
  </head>
  <body>
    <div class="main-container">
      <div class="left-block">
        <h1 class="main-title">Regression</h1>
        <h1 class="main-title">Expert</h1>
        <img
          class="big-logo"
          src="Images/RegressionExpert-large-logo.png"
          alt="RegressionExpert-large-logo"
        />
      </div>
      <div class="right-block">
        <button class="logout-btn" onclick="openPopup()">Logout</button>
        <div class="popup" id="popup">
          <h2>Are you sure you want to log out?</h2>

          <button type="button" onclick="closePopup()" class="no-btn">
            No
          </button>
          <button type="button" onclick="logout()" class="yes-btn">Yes</button>
        </div>
        <div class="greet-message">
          <p class="greet">Welcome,</p>
          <p class="user-to-greet">...</p>
        </div>
        <br />
        <br />
        <div class="nav-btns">
          <hr class="hr top-hr" />
          <button class="nav-btn" onclick="location.href='/graph-editor'">
            Create New Graph
          </button>
          <br />
          <button class="nav-btn" onclick="location.href='/saved'">
            Load Existing Graph
          </button>
          <br />
          <button class="nav-btn" onclick="location.href='/settings'">
            Settings
          </button>
          <br />
          <button class="about-btn" onclick="location.href='/about'">About</button>
          <hr class="hr bottom-hr" />
        </div>
        <p class="quote-txt">
          "Having the data is not enough. [You] have to show it in ways people
          both enjoy and understand."
        </p>
        <p class="quote-author">- Hans Rosling</p>
      </div>
    </div>
    <p hidden id="ok"><%= ok %></p>
    <p hidden id='sc_value'><%= sc %></p>
    <form id="sc" action="/getSC" method="post">
      <input hidden id='user' name='user'>
    </form>
    <script>
      let popup = document.getElementById("popup");

      function openPopup() {
        popup.classList.add("open-popup");
      }

      function closePopup() {
        popup.classList.remove("open-popup");
      }

      function logout() {
        window.location.href = "index";
        localStorage.removeItem("username");
      }

      const user = localStorage.getItem("username");
      localStorage.removeItem("graph-name");
      localStorage.removeItem("points");
      localStorage.removeItem("lines");
      if (user == null) {
      if(user == null){
        alert("You are not logged in. Please log in first. ");
        alert("You are not logged in. Please log in first. ");
        window.location.href = "index";
        window.location.href = "index";
      }
      }
      document.getElementsByClassName("user-to-greet")[0].innerText = user;
      document.getElementsByClassName('user-to-greet')[0].innerText = user;
      document.getElementById('user').value = user;
      if(document.getElementById("ok").innerText == "Bad"){
        document.getElementById('sc').submit();
      }
      localStorage.setItem('shortcuts', document.getElementById("sc_value").innerText);
    </script>
  </body>
</html>
