<!DOCTYPE html>
<html>
  <%- include('layouts/login-header'); -%>
  <body>
    <h1 class="main-title">Home Page</h1>
    <p>Welcome to RegressionExpert</p>

    <p>Don't have an account?</p>
    <button onclick="window.location.href='newacc';">Create Account</button>
    <p>Already a user?</p>
    <button onclick="window.location.href='login';">Log In</button>
    <hr>
    <img
      class="big-logo"
      src="Images/RegressionExpert-small-logo.png"
      alt="RegressionExpert-small-logo"
    />
  </body>
</html>
