<!DOCTYPE html>
<html>
  <%- include('layouts/login-header'); -%>
  <body>
    <h1>Log In</h1>
    <form action="/login" method="post">
    <p>Username: </p>
    <input id="user" name="user">
    <p>Password: </p>
    <input id="pwd" name="pwd"></input>
    <button onclick="showAlert(); getUser();">Go</button>
    </form>
    <p id='alert'></p>
    <button onclick="window.location.href='index';">Home Page</button>

    <script>
      function showAlert(){
        let msg = document.getElementById('alert');
        msg.innerText = "Invalid username and/or password!";
        msg.style.color = 'red';
      }
      function getUser(){
        let username = document.getElementById('user');
        localStorage.setItem('username', username.value);
        console.log(localStorage.getItem('username'));
      }
    </script>
  </body>
</html>
