<!DOCTYPE html>
<html>
  <%- include('layouts/login-header'); -%>
  <body>
    <h1>Create New Account</h1>
    <form action="/newacc" method="post">
    <p>Username: </p>
    <input id="user" name="user">
    <p>Password: </p>
    <input id="pwd" name="pwd"></input>
    <button type="submit">Create</button>
    </form>
    <p class='alert'><%- msg -%></p>
    <button onclick="window.location.href='index';">Home Page</button>
    <hr>
    <img
      class="big-logo"
      src="Images/RegressionExpert-small-logo.png"
      alt="RegressionExpert-small-logo"
    />
  </body>
</html>
