<!DOCTYPE html>
<html>
  <%- include('layouts/login-header'); -%>
  <body>
    <h1 class="acc-greet-message">Create New Account</h1>
    <div class="editor-img-wrapper">
      <img src="Images/land-page/example-editor.png" alt="Example editor page">
    </div>
    <div class="newacc-main-space">
      <form action="/newacc" method="post">
      <p>Username: </p>
      <input id="user" name="user">
      <p>Password: </p>
      <input id="pwd" name="pwd" type="password"></input>
      <button type="submit" class="acc-page-btn">Create</button>
      </form>
      <button class="newacc-home acc-page-btn" onclick="window.location.href='index';">Home Page</button>
      <p class='alert'><%- msg -%></p>
    </div>
    
  </body>
</html>
