<!DOCTYPE html>
<html>
  <%- include('layouts/login-header'); -%>
  <body>
    <h1>Create New Account</h1>
    <form action="/newacc" method="post">
    <p>Username: </p>
    <input id="user" name="user">
    <p>Password: </p>
    <input id="pwd" name="pwd"></input>
    <button onclick="showAlert()">Go</button>
    </form>
    <p id='alert'></p>
    <button onclick="window.location.href='index';">Home Page</button>
    <script>
      function showAlert(){
        let msg = document.getElementById('alert');
        msg.innerText = "Username already exists!";
        msg.style.color = 'red';
      }
    </script>
  </body>
</html>
