<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <button class="logout-btn" onclick="openPopup()">Logout</button>
    <div class="popup" id="popup">
      <h2>Are you sure you want to log out?</h2>

      <button type="button" onclick="closePopup()" class="no-btn">No</button>
      <button type="button" onclick="logout()" class="yes-btn">Yes</button>
    </div>
    <link rel="stylesheet" href="app-pages.css" />
  </head>
  <body>
      <a href="/home" class="small-logo">
        <img src="RegressionExpert-small-logo.png" alt="RegressionExpert"
      /></a>
      <h1 class='main-title'>Settings</h1>
      <div class='settings-list'>
        <%= msg %>
      </div>
      <button onclick="getAccSettings()">Account Settings</button><br>
      <button onclick="getGUI()">Visuals/GUI</button><br>
      <button onclick="changePwd()">Change Password</button><br>
    <button onclick="window.location.href='home';">Home Page</button>
    <script>
      let popup = document.getElementById('popup')

      function openPopup(){
        popup.classList.add('open-popup')
      }

      function closePopup(){
        popup.classList.remove('open-popup')
      }

      function logout(){
        window.location.href = "index";
        localStorage.removeItem("username");
      }

      function getAccSettings(){
        let box = document.getElementsByClassName("settings-list")[0];

      }

      function getGUI(){
        let box = document.getElementsByClassName("settings-list")[0];
      }
      
      function changePwd(){
        let frame = document.getElementsByClassName("settings-list")[0];
        while(frame.hasChildNodes()){
          frame.removeChild(frame.firstChild);
        }
        let box = document.createElement("form");
        box.action = "/changePwd";
        box.method = "post";
        let pEl = document.createElement("p");
        pEl.innerText = "Enter Current Password: ";
        box.appendChild(pEl);
        let inputEl = document.createElement("input");
        inputEl.id = "old-pwd";
        inputEl.name = "old-pwd";
        box.appendChild(inputEl);
        pEl = document.createElement("p");
        pEl.innerText = "Enter New Password: ";
        box.appendChild(pEl);
        inputEl = document.createElement("input");
        inputEl.id = "new-pwd";
        inputEl.name = "new-pwd";
        box.appendChild(inputEl);
        pEl = document.createElement("p");
        pEl.innerText = "Confirm New Password: ";
        box.appendChild(pEl);
        inputEl = document.createElement("input");
        inputEl.id = "confirm-pwd";
        inputEl.name = "confirm-pwd";
        box.appendChild(inputEl);
        let buttonEl = document.createElement("button");
        buttonEl.innerText = "Change";
        buttonEl.type = "submit";
        box.appendChild(buttonEl);
        inputEl = document.createElement("input");
        inputEl.id = "username";
        inputEl.name = "username";
        inputEl.value = localStorage.getItem("username");
        inputEl.style.display = "none";
        box.appendChild(inputEl);
        frame.appendChild(box);
      }
      /*
      const user = localStorage.getItem("username");
      if(user == null){
        alert("You are not logged in. Please log in first. ");
        window.location.href = "index";
      }
      */
    </script>
  </body>
</html>
