<!DOCTYPE html>
<html>
  <%- include('layouts/login-header'); -%>
  <body>
    <h1>Account creation successful.</h1>
    <button onclick="window.location.href='index';">Home Page</button>
  </body>
</html>
