<!DOCTYPE html>
<html>
  <head>
    <title>Account Created</title>
  </head>
  <body>
    <h1>Account Created Successfully!</h1>
    <script>
      localStorage.setItem("username", "<%= username %>");
      setTimeout(() => {
        window.location.href = "/home";
      }, 1500);
    </script>
  </body>
</html>
