@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  background-color: #e0e7ff;
  margin: 0;
  padding: 0;
}

/* land page */
.greet-wrapper {
  border-bottom: 5px solid #6196c2;
}

#regression-txt {
  margin-left: 20px;
  color: #1D79C6;
  font-weight: 750;
  font-size: 40px;
}

#expert-txt {
  color: #716F6F;
  font-weight: 600;
  font-size: 35px;
}

.land-page-btn {
  border-radius: 10px;
  height: 70px;
  width: 200px;
  color: white;
  border: none;
  background-color: #7d91de;
  transition: all 1s;
  margin-left: 5%;
}

.land-page-btn:hover {
  background-color: #b2ccf5;
  filter: none;
  width: 300px;
}

.small-logo {
  display: inline-block;
  height: 100%;
}

.editor-img-wrapper {
  display: block;
  position: relative;
  width: 100vw;
  height: calc(100vh - 150px);
}

.editor-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.greet-message {
  font-size: 30px;
  padding-bottom: 5px;
  margin: 50px auto 10px 20px;
  display: block;
}

.create-line,
.login-line {
  display: flex;
  background-color: transparent;
}

.create-line {
  position: absolute;
  top: 40%;
  width: 100%;
}

.login-line {
  position: absolute;
  top: 70%;
  width: 100%;
}

.button-prompt {
  position: relative;
  height: 70px;
  line-height: 70px;
  width: 40%;
  margin-left: 10%;
  background-color: #c0bfbf99;
  color: white;
  font-weight: bold;
  top: -100px;
  border-radius: 10px;
  text-align: center;
}

/* END land page */

/* newacc and login pages */
.alert {
  color: red;
}

h1 {
  font-size: 50px;
}

.newacc-home, .login-home {
  left: 50%;
  text-align: center;
  margin-bottom: 10px;
}

.login-main-space, .newacc-main-space {
  padding: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  z-index: 10;
  border: 2px solid #6196c2;
}

.login-page-btn, .acc-page-btn {
  border-radius: 10px;
  height: auto;
  padding: 5px;
  width: 200px;
  color: white;
  border: none;
  background-color: #7d91de;
  transition: background-color 0.5s;
  margin-top: 30px;
}

.login-page-btn:hover, .acc-page-btn:hover {
  background-color: #a3c3f7;
  filter: none;
}

.login-greet-message, .acc-greet-message {
  border-bottom: 5px solid #6196c2;
  padding: 5px;
  font-size: 40px;
}

/* Form styling for login and newacc pages */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  background: none;
}

form input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 2px solid #6196c2;
  border-radius: 5px;
  font-size: 18px;
}

form input:focus {
  outline: none;
  border-color: #1D79C6;
  box-shadow: 0 0 5px rgba(29, 121, 198, 0.5);
}

/* END newacc and login pages */

